<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hp.androidproject">

    <uses-sdk android:minSdkVersion="14" />

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <application
        android:name=".BaseApp"
        android:allowBackup="true"
        android:icon="@drawable/study_buddy_app_logo"
        android:label="StudyBuddy"
        android:roundIcon="@drawable/study_buddy_app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="android.support.VERSION"
            android:value="26.0.0"
            tools:replace="android:value" />

        <activity android:name=".MainActivity">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".DiscussionForumMake" />
        <activity android:name=".DataAnalytics" />
        <activity android:name=".TopicOne" />
        <activity android:name=".TopicTwo" />
        <activity android:name=".TopicThree" />
        <activity android:name=".Assignments" />
        <activity android:name=".StudyTimer" />
        <activity android:name=".DisplayContent" />
        <activity android:name=".User" />
        <activity android:name=".Settings" />
        <activity android:name=".EditSettings" />
        <activity android:name=".shaneUser" />
        <activity android:name=".amyUser" />
        <activity android:name=".muireannUser" />
        <activity android:name=".eimearUser" />
        <activity android:name=".IOTprogramming" />
        <activity android:name=".AndroidProgramming" />
        <activity
            android:name=".SearchCouses"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".JavaProgramming"></activity>
    </application>

</manifest>